@import url('https://fonts.googleapis.com/css?family=Skranji');
html *{
    margin:0px;
    padding:0px;
}

.background-photo1{
    width:100%;
    height:100%;
    position:absolute;
}
.body-register{
    position: absolute;
    font-family: 'Oswald', sans-serif;
    margin-block-end: center;

    position: relative;
    display: inline-block;
    text-align: center;
    top: 140px;
    margin-left: 16%;
}

.buttonFacebook, .buttonGoogle {
    font-family: 'Skranji', cursive;
    font-size: 20px;
    display: inline-block;
    border:none;
    outline: none;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    color:white;
    cursor: pointer;
    text-decoration: none;
    background-color:#3b5999;
    border-radius:200px;
    
}

.buttonGoogle {
    background-color:#dd4b39; 
}

.name , .apellido , .userPasswordVerification , .userEmail, .userPassword , .buttonRegister {
    border:0px;
    width:240px;
    height:30px;
    border-radius:200px;
    padding-left:25px;
    font-family: 'Oswald', sans-serif
    
    }
 .buttonRegister{
        background-color: #A6D729;
        cursor:pointer;
        font-family: 'Oswald', sans-serif
    
    } 
#mensaje-error{
    color: red;
}
/* .register{
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    text-align: center;
    top: 140px;
    margin-left: 18%;
   
} */